.header-img{
  width: 100%;
  object-fit: cover;
  height: 500px;
  object-position: 100% 59%;
}
.info{
  font-size: larger;
}
.data{
  margin-top: 10px;
  text-align: center;
  height: 100px;
}
.data-2{
  font-size: large;
  text-align: justify-all;
}
.mat-card{
  max-width: 100%;
  margin: auto;
}
.mat-card2{
  max-width: 100%;
  margin: auto;
}
.mat-card-header-text{
  margin: auto!important;
}
.h-120{
  height: 120px;
  text-align: center;
}

